/** @format */

@media (max-width: 780px) {
  .LoginSection .MainDiv .LoginDiv .Head-title {
    width: 100%;
    font-size: 14px;
  }
  .LoginSection {
    overflow: hidden;
  }
  .LoginSection .MainDiv {
    width: 100%;
  }
  .LoginSection .MainDiv .LoginDiv {
    width: 100%;
  }
  .LoginSection .MainDiv .LoginDiv .formDiv{
    padding-left: 20px;
    padding-right: 20px;
  }
  .LoginSection .MainDiv .LoginDiv .formDiv .InputDiv {
    width: 100%;
  }
  .LoginSection .MainDiv .LoginDiv .formDiv .submitBtn {
    width: 100%;
    min-width: 350px;
  }

  .velocity-amount-selector input{
    width: 100px;
  }
  .velocity-amount-selector .btns-selector{
    gap: 2px  ;
  }
  .velocity-amount-selector .btns-selector button{
    width: 48%;
  }
  .orders-container .order-card{
    width: 350px;
  }
}
