/** @format */

/* Login Page */
.LoginSection {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.LoginSection .MainDiv {
  display: grid;
  place-items: center;
}

.LoginSection .MainDiv .LoginDiv {
  background-color: #fff;
  width: 500px;
  height: 700px;
}

.LoginSection .MainDiv .LoginDiv .Head-title {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
  background-color: rgb(255 184 0);
  justify-content: center;
  align-items: center;
  height: 80px;
  display: flex;
}
.LoginSection .MainDiv .LoginDiv .logo-div {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}
.LoginSection .MainDiv .LoginDiv .logo-div img {
  max-width: 100%;
  height: auto;
  display: block;
}

.LoginSection .MainDiv .LoginDiv .formDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  margin-top: 2.5rem;
}

.LoginSection .MainDiv .LoginDiv .formDiv .InputDiv {
  border-radius: 0.25rem;
  position: relative;
}
.LoginSection .MainDiv .LoginDiv .formDiv .InputDiv div {
  padding-left: 0.75rem;
  align-items: center;
  display: flex;
  inset: 0;
  position: absolute;
  pointer-events: none;
}
.LoginSection .MainDiv .LoginDiv .formDiv .InputDiv div span {
  color: #fff;
  padding: 0.625rem;
  border-radius: 0.25rem;
  margin-left: -3px;
}
.LoginSection .MainDiv .LoginDiv .formDiv .InputDiv div span svg {
  color: gray;
}
.LoginSection .MainDiv .LoginDiv .formDiv .InputDiv input {
  width: 430px;
  line-height: 1.5rem;
  font-size: 0.875rem;
  color: #000;
  border: 1px solid rgb(209 213 219);
  padding-right: 1rem;
  padding-left: 2.5rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  border-radius: 0.75rem;
  height: 48px;
  margin-left: 0.5rem;
  display: block;
}
.LoginSection .MainDiv .LoginDiv .formDiv .submitBtn {
  width: 430px;
  color: #fff;
  font-weight: 600;
  background-color: rgb(255 184 0);
  border-radius: 0.75rem;
  height: 48px;
}
/* ---- */

.rotating-wheel {
  transform: rotate(10deg);
}

/* Rewards Page */

.newly-invited-popup {
  background-color: #fff;
  width: 200px;
  display: block;
  margin: auto;
  height: 160px;
  margin-top: 20px;
  padding: 20px;
  padding-top: 40px;
}
.congratulationImg {
  position: absolute;
  top: 30px;
  width: 400px;
  z-index: 3;
}

.newly-invited-popup p {
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  margin: 0;
}
.newly-invited-popup span {
  color: #ff0000;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
.newly-invited-popup button {
  width: 100%;
  margin: auto;
  padding: 4px;
  border-radius: 5px;
  margin-top: 10px;
  background-color: #ff0000;
  color: #fff;
}

.yellow-lion{
  transform: rotate(76deg);
}
.red-lion{
  transform: rotate(43deg);
}
.green-lion{
  transform: rotate(30deg);
}

.green-camel{
  transform: rotate(-51deg);
}
.yellow-camel{
  transform: rotate(-44deg);
}

.green-elephant{
  transform: rotate(-157deg);
}
.red-elephant{
  transform: rotate(-144deg);
}
.yellow-elephant{
  transform: rotate(-150deg);
}

.yellow-crown {
  transform: rotate(156deg);
}
.green-crown {
  transform: rotate(149deg);
}