/** @format */

/* Login Page */
.LoginSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.LoginSection .MainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.LoginSection .MainDiv .LoginDiv {
  background-color: #fff;
  width: 500px;
  height: 700px;
}

.LoginSection .MainDiv .LoginDiv .Head-title {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
  background-color: rgb(255 184 0);
  justify-content: center;
  align-items: center;
  height: 80px;
  display: flex;
}
.LoginSection .MainDiv .LoginDiv .logo-div {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}
.LoginSection .MainDiv .LoginDiv .logo-div img {
  max-width: 100%;
  height: auto;
  display: block;
}

.LoginSection .MainDiv .LoginDiv .formDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  margin-top: 2.5rem;
}

.LoginSection .MainDiv .LoginDiv .formDiv .InputDiv {
  border: 1px solid rgb(209 213 219);
  border-radius: 0.75rem;
  display: flex;
  gap: 10px;
  width: 430px;
  align-items: center;
  padding: 12px;
  padding-left: 15px;
}

.LoginSection .MainDiv .LoginDiv .formDiv .InputDiv div .spansvg {
  color: gray;
}
.LoginSection .MainDiv .LoginDiv .formDiv .InputDiv input {
  font-size: 0.875rem;
  color: #000;
  border: none;
  outline: none;
  flex: 1;
}
.LoginSection .MainDiv .LoginDiv .formDiv .submitBtn {
  width: 430px;
  color: #fff;
  font-weight: 600;
  background-color: rgb(255 184 0);
  border-radius: 0.75rem;
  height: 48px;
}
/* ---- */

.rotating-wheel {
  transform: rotate(10deg);
}

/* Rewards Page */

.newly-invited-popup {
  background-color: #fff;
  width: 200px;
  display: block;
  margin: auto;
  height: 160px;
  margin-top: 20px;
  padding: 20px;
  padding-top: 40px;
}
.congratulationImg {
  position: absolute;
  top: 30px;
  width: 400px;
  z-index: 3;
}

.newly-invited-popup p {
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  margin: 0;
}
.newly-invited-popup span {
  color: #ff0000;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
.newly-invited-popup button {
  width: 100%;
  margin: auto;
  padding: 4px;
  border-radius: 5px;
  margin-top: 10px;
  background-color: #ff0000;
  color: #fff;
}

.min-rotation {
  /* transition: 1s ease-in-out; */
}
.yellow-lion {
  transform:  rotate(76deg);
}
.red-lion {
  transform: rotate(43deg);
}
.green-lion {
  transform: rotate(30deg);
}

.green-camel {
  transform: rotate(-51deg);
}
.yellow-camel {
  transform: rotate(-44deg);
}

.green-elephant {
  transform: rotate(-157deg);
}
.red-elephant {
  transform: rotate(-144deg);
}
.yellow-elephant {
  transform: rotate(-150deg);
}

.yellow-crown {
  transform: rotate(156deg);
}
.green-crown {
  transform: rotate(149deg);
}

.velocity-amount-selector {
  padding: 0.5rem;
  border: 2px solid rgb(226 232 240);
  border-radius: 1rem;
  margin: 0.75rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}
.velocity-amount-selector .btns-selector {
  width: 130px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}
.velocity-amount-selector .btns-selector button {
  background-color: rgb(190 235 255);
  border-radius: 0.5rem;
  width: 60px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.velocity-amount-selector .btns-selector.special button {
  width: 100%;
}

.velocity-amount-selector input {
  outline: none;
  font-size: 1.5rem;
  background-color: rgb(190 235 255);
  border-radius: 0.5rem;
  width: 150px;
  text-align: center;
  height: 80px;
}

.latest-tagline{
  margin: 0;
  color: #FF000B;
  font-size: 10px;
  font-weight: 600;
}

.stop-spin {
  animation: none;
}


.recharge-card-transaction{
  border: 1px solid #ccddee;
  height: auto;
  width: 97%;
  border-radius: 5px;
  padding-bottom: .5rem;
  background-color: rgb(213, 226, 241);
}

.recharge-card-transaction-primary{
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size:14px;
}

.recharge-card-transaction-secondary{
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 27px;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.recharge-card-transaction-secondary>p:last-child{
  
  color: green;
}


.wallet-card-transaction{
  border: 1px solid #ccddee;
  height: auto;
  width: 97%;
  border-radius: 5px;
  padding-bottom: 1rem;
  background-color: rgb(213, 226, 241);
}

.withdraw-card__transaction_1{
  width: 88%;
  margin: auto  ;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 0.2rem;
}

.withdrawRecordUserDetails{
  border-top: 1px solid #ccddee;
  padding-top: .5rem;
}

.withdrawRecordUserDetails>div:first-child{
  display: flex;
  gap: .5rem;
  width: 88%;
  margin: auto;
  font-weight: 500;
}

.withDrawRecordUserDetails_2{
  border: 1px solid #e2b0bf;
  border-radius: 5px;
  font-size: 12px;
  padding: 0.2rem 0.5rem;
  background-color: #e2bec9;
  font-weight: 500;
  cursor: pointer;
}